.header
  background-color: $main-bg
  height: 475px
  &-navbar
    display: flex
    align-items: center
    justify-content: space-between
    padding: 15px 0
    margin-bottom: 30px
  &-menu
    display: flex
    min-width: 540px
    align-items: center
    justify-content: space-between
    font-style: normal
    font-weight: 900
    font-size: 14px
    line-height: 20px
    color: #fff
    &__link
      color: inherit
  &-button
    min-width: 261px
    padding: 9px 0 10px 0
    background: #656B70
    border-radius: 10px
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 20px
    text-align: center
    color: #fff
  &-content
    display: flex
    height: 570px
    border-radius: 10px
    background-color: #fff
    overflow: hidden
.content
  min-width: 877px
  padding: 55px
  background-image: url(../img/backgroung-mainpage.jpg)
  background-size: cover
  background-repeat: no-repeat
  position: relative
  &-user
    display: flex
    align-items: center
    margin-bottom: 145px
    &__avatar
      height: 45px
      width: 45px
      border-radius: 50%
      margin-right: 10px
    &__name
      display: block
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 20px
      color: #FFFFFF
      opacity: 0.85
    &__profession
      font-style: normal
      font-weight: normal
      font-size: 12px
      line-height: 15px
      color: #FFFFFF
      opacity: 0.4
  &-info
  &-tag
    display: inline-block
    font-style: normal
    font-weight: 900
    font-size: 12px
    line-height: 15px
    text-transform: uppercase
    color: #4592FF
    margin-bottom: 20px
  &-title
    font-style: normal
    font-weight: bold
    font-size: 40px
    line-height: 50px
    color: #FFFFFF
    margin-bottom: 50px
  &-button
    padding: 10px 20px
    background: #4592FF
    color: #fff
    border-radius: 20px
    &__arrow
      margin-left: 5px
  &-link
    color: inherit
    display: flex
    align-items: center
  .bg
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: linear-gradient(0deg, rgba(64, 48, 61, 0.35), rgba(64, 48, 61, 0.35))
.recomended
  &-title
    font-style: normal
    font-weight: 900
    font-size: 14px
    line-height: 20px
    text-transform: uppercase
    color: #262D33
    padding: 20px 25px 19px 25px
  &-block
    height: 99px
    border-top: 1px solid #F5F5F5
    padding: 17px 25px 19px 25px
  &-subtitle
    display: inline-block
    font-style: normal
    font-weight: 900
    font-size: 12px
    line-height: 15px
    text-transform: uppercase
    margin-bottom: 8px
    &--css
      color: #3BBDC4
    &--js
      color: #6E99AE
    &--html
      color: #AC8EE3
    &--wd
      color: #FFA34D
    &--css2
      color: #3DC47E

  &-text
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 20px
    color: #4B5157
