.modal
  overflow: auto
  opacity: 0
  display: none
  &--visible
    opacity: 1
    display: block
    height: 100%
    overflow: auto
  &__overlay
    height: 100%
    background-color: #3BBDC4
    opacity: 0
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: 999
    overflow:
    transition: opacity 0.3s ease
    &--visible
      opacity: 0.5
  &__form
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap
  &__dialog
    opacity: 0
    width: 450px
    min-height: max-content
    position: fixed
    z-index: 1000
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    background: #262D33
    border-radius: 10px
    padding: 20px 30px
    transition: opacity 0.3s ease
    &--visible
      opacity: 1
  &__title
    font-style: normal
    font-weight: bold
    font-size: 24px
    line-height: 30px
    color: #FFFFFF
    margin-bottom: 20px
    text-align: center
  &__input-group
    width: 100%
    margin-bottom: 20px
    &--mobile
      width: 48%
  &__input
    width: 100%
  &__message
    width: 100%
    min-height: 100px
    padding: 10px 15px
    border-radius: 5px
    margin-bottom: 20px
    color: $color-text
    font-size: 14px
    line-height: 20px
  &__info
    font-weight: bold
    font-size: 12px
    fh: 15px
    color: #fff
  &__button
    padding: 10px 20px
    background: #4592FF
    color: #fff
    border-radius: 20px
  &__close
    position: absolute
    top: 20px
    right: 30px
