.text
  background-color: #fff
  padding-top: 67px
  &-start
    max-width: 636px
    &__image
      width: 96px
      height: 75px
      float: left
      margin-right: 10px
      margin-bottom: 8px
    &__paragraph
      display: block
      margin-bottom: 30px
      font-style: normal
      font-weight: normal
      font-size: 18px
      line-height: 30px
      color: $color-text
      &--mb
        margin-bottom: 0
    &__title
      font-style: normal
      font-weight: bold
      font-size: 25px
      line-height: 30px
      color: $color-title
      margin-bottom: 30px
